*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 630px;
    background: linear-gradient(to right,    rgba(0, 255, 242, 0.788),rgba(102, 255, 0, 0.8)),url("../img/1.jpg ");
    background-repeat: round;
    font-family: "B yekan";
}
.card{
    background: linear-gradient( rgb(204, 201, 201),rgba(209, 205, 205, 0.63));
    color: black;
    max-width: 500px;
    /* margin-right: 300px;
    margin-right: auto;
    margin-left: auto; */
    margin: auto;
}
#gameArea {
    margin-top:100px;
}
#gameArea p{
    text-align: center;
}
#gameArea #answerBox{
    /* display: none; */
    margin-top: 20px;
}
#gameArea button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#scoreBox{
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    max-width: 500px;
    background: linear-gradient(rgb(204, 201, 201),rgba(209, 205, 205, 0.63));
    /* margin-right: 300px; */
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
#notAnswered{
    color: blue;
}
#answerTrue{
    color: green;
}
#answerFalse{
    color: red;
}
.radioAnswer{
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
