body{
    min-height: 630px;
    background: linear-gradient(rgb(0, 17, 255),rgba(0, 4, 255, 0.5));
    background-repeat: no-repeat;
}
.card{
    background: linear-gradient(rgb(204, 201, 201),rgba(209, 205, 205, 0.63));
    color: black;
    max-width: 500px;
    margin-right: 300px;
}
#gameArea {
    margin-top:100px;

}
#gameArea p{
    text-align: center;
}
#gameArea #answerBox{
    /* display: none; */
    margin-top: 20px;
}
#gameArea button{
    margin-top: 20px;
    margin-bottom: 20px;
}